{% extends 'MsiCoreBundle:admin:skeleton.html.twig' %}

{% block content %}

  <a class="right btn" href="{{ path('gallery_image') }}">Back</a>

  <h1>New image</h1>

  <form action="{{ path('gallery_image_create') }}" method="post" {{ form_enctype(form) }}>
    {% include 'MsiContentBundle:Page:admin/form.html.twig' %}
  </form>

{% endblock %}